// =============================================================================
// This file holds all the variables for the DDBasic theme
// =============================================================================
//

// -----------------------------------------------------------------------------
// Standard color definitions
// -----------------------------------------------------------------------------
//
$white:                 #fff    !default;
$black:                 #000    !default;
$grey:                  #BBB    !default;
$brown:                 #380300 !default;
$brown_light:           #9C4A02 !default;

// -----------------------------------------------------------------------------
// Theme color definitions
// -----------------------------------------------------------------------------
//
$theme-primary-color:             #FBF0DA;
$theme-secondary-color:           #EDB884;
$theme-teritary-color:            #D67F33;


// -----------------------------------------------------------------------------
// Font library
// -----------------------------------------------------------------------------
//
$theme-icon-library-font:         FontAwesome;


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
$font-color-primary:              #584d3b;


// -----------------------------------------------------------------------------
// Font variables
// -----------------------------------------------------------------------------
//
$theme-font-size:                 16px;
$theme-line-height:               24px;
$theme-font-weight-normal:        normal;
$theme-font-weight-bold:          normal;
$theme-font-selection-color:      $font-color-primary;
$theme-font-selection-background: $brown_light;


// -----------------------------------------------------------------------------
// Base font size for rem() mixin, measured in pixels
// -----------------------------------------------------------------------------
//
$base-font-size:  16px;
