// **
// Topbar menu
// **
nav {
  text-align: center;
  
  .main-menu {
    margin: auto;
    width: 100%;
  }
  
  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
    
    li {
      display: inline-block;
      float: none;
      margin-left: 1em;
      margin-right: 1em;
      width: auto;
      
      a {
        @include rem('font-size', 18px);
        color: $font-color-primary;
        display: inline-block;
        margin-left: -4px;
        padding: 30px 25px 8px;
        outline: 0;
        transition: background 0.5s ease 0s;
        transition: color 0.5s ease 0s;
        text-transform: uppercase;
        text-decoration: none;

        &.active-trail,
        &.active {
          background-color: $theme-teritary-color;
          color: $theme-primary-color;
          
          &:hover {
            background-color: $theme-teritary-color;
            color: $black;
          }
        }
        
        &:hover {
          background-color: $theme-secondary-color;
          color: $black;
        }
      }
    }
  }
  
  .topbar-menu {
    background: none repeat scroll 0 0 $theme-teritary-color;
    display: none;
    text-align: right;
    
    @include small-medium() {
      display: inline-block;
      margin: 0;
      padding: 0;

      .border {
        display: none;
      }
      
      i[class^="icon-"] {
        margin-right: 0;
      }

      li {
        margin: 0;

        &.last {
          margin-right: 1em;
        }
      }
      .menu-item {
        @include rem('font-size', 18px);
        @include text-shadow(1px 1px 0 rgba(0, 0, 0, .5));

        color: $theme-primary-color;
        display: inline-block;
        margin-left: -4px;
        padding: 10px 15px;
        outline: 0;

        &.active-trail,
        &.active {
          background-color: $theme-secondary-color;
          color: $theme-primary-color;

          &:hover {
            background-color: $theme-secondary-color;
            color: $black;
          }
        }

        &:hover {
          background-color: $theme-secondary-color;
          color: $black;
        }
      }
    }
  }
  
  @include small-medium () {
    .border {
      display: none;
    }

    .main-menu {
      display: none;
      border-top: 4px solid $theme-secondary-color;

      li {
        display: block;
        margin-left: 0;
        margin-right: 0;

        a {
          background-color: $theme-secondary-color;
          color: $theme-primary-color;
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          padding: 20px 0px;
 
        &.active-trail,
        &.active {
          background-color: $theme-teritary-color;
          color: $theme-primary-color;

          &:hover {
            background-color: $theme-teritary-color;
            color: $black;
          }
        }

        &:hover {
          background-color: $theme-teritary-color;
          color: $black;
        }
      }
      }
    }
  }

  .border {
    background: none repeat scroll 0 0 $theme-teritary-color;
    height: 0.8em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}
