body {
  background-color: $theme-primary-color;
  color: $font-color-primary;
  line-height: $theme-line-height;
}

body.toolbar {
  padding-top: 66px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

/*******
 * Fix stuff for logged in users.
 *******/
.logged-in {
  header {
    position: relative;
  }
}

.name-and-slogan {
  text-align: center;
  h1 {
    font-size: 600%;
  }
  h2 {
    margin-top: 16px;
  }
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
}


img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

footer {
  @include rem('font-size', 12px);
  text-align: center;
  background: none repeat scroll 0 0 $theme-teritary-color;
  padding: 4px;
  z-index: 2;
}
